body {
  background-color: antiquewhite;
}

.display-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(3, 200px); */
}

article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

article img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}
