.footer {
  align-self: stretch;
  background-color: black;
  color: #414c75;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem 3rem;
  font-family: "DIN", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.about-paragraph {
  align-self: center;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

.youtube-icon:hover,
.instagram-icon:hover,
.legal-pages h1:hover {
  cursor: pointer;
  opacity: 0.7;
}

.qualion-banner-footer {
  height: 60px;
}

.qualion-logo {
  width: 60px;
}

.contact-pages button {
  background: #111;
  border: 1px solid #414c75;
  color: #414c75;
  margin-top: 0.2rem;
  transition: 0.5s ease-out;
  display: inline-block;
  width: 140px;
  max-width: 100%;
  padding: 0 15px;
  height: 34px;
  font-size: 14px;
  line-height: 30px;
  border-radius: 2px;
}

.contact-pages button:hover {
  cursor: pointer;
  background-color: #414c75;
  color: #111;
}

.logo-and-pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.legal-pages-and-social {
  display: flex;
  flex-direction: column;
}

.legal-pages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.legal-pages h1 {
  margin-bottom: 5px;
}

.youtube-icon {
  margin-right: 5px;
}

.logo-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-pages {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.logo-div h1 {
  font-size: 12px;
  margin: 12px 0;
}

/* MEDIA QUERIES */

@media (max-width: 1000px) {
  .footer {
    padding: 2rem;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 2rem 1rem;
  }

  .logo-and-pages {
    flex-direction: column;
    gap: 1rem;
    width: auto;
  }

  .logo-div {
    order: -1;
  }

  .legal-pages {
    align-items: center;
  }

  .legal-pages-and-social {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
