.navbar {
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.main-nav {
  display: flex;
  align-items: center;
  min-height: 70px;
}

.qualion-banner {
  height: 60px;
  margin-inline: 50px;
}

.hamburger-menu:hover,
.search-icon:hover {
  cursor: pointer;
  opacity: 0.7;
}

.search-icon {
  margin-left: auto;
  margin-right: 50px;
}

.search-bar {
  width: 100%;
  left: 0;
  right: 0;
  background: rgba(1, 1, 1, 0.8);
  position: fixed;
  z-index: 100;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form input {
  background: none;
  outline: none;
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 24px;
  line-height: 0;
  color: white;
  padding: 10px 0;
}

.search-form button {
  background: none;
  border: none;
}

.search-form button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.nav-dropdown {
  position: fixed;
  left: 0;
  max-height: 70vh;
  background: rgba(22, 27, 45, 0.9);
  z-index: 100;
  display: flex;
  gap: 30px;
}
