.post {
  min-height: 100vh;
}

.post-header {
  height: 550px;
  position: relative;
}
.post-header h1 {
  position: absolute;
  bottom: 20%;
  color: white;
  background-color: black;
  /* width: 100%;
  text-align: center; */
}

.post-header img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}
